<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batton Photography</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>


    <style>
        .modal-dialog {
            align-content: center;
            width: 90%;
            height: 90%;
            padding: 50% 50% 50% 50%;
            padding: 0;
        }

        .modal-content {
            height: auto;
            min-height: 100%;
            -ms-border-radius: 0;
            border-radius: 0;
        }

        .imgCol {
            max-height: 150px;
            max-width: 150px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 15px;
        }

        .imgContainer {
            min-height: 150px;
            max-height: 150px;
            -moz-min-width: 150px;
            -ms-min-width: 150px;
            -o-min-width: 150px;
            -webkit-min-width: 150px;
            min-width: 150px;
            max-width: 150px;
            text-align: center;
        }

            .imgContainer img {
                height: 100%;
                width: auto;
                position: absolute;
                padding-right: 10px;
                padding-top: 10px;
                overflow: hidden;
            }

        .squareImage {
            height: 150px;
            width: 150px;
        }
        .thumbCell {
            height: 150px;
            width: 150px;
            margin-left: 10px;
            margin-top: 10px;
        }
    </style>
</head>


<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Batton Photograpy", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Batton Photography</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<script>
    $(document).ready(function() {
        $(".nailthumb-container").nailthumb({
            mode: "resize"
        });
    })
</script>
</body>
</html>
