<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batton Photography</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>


    <style>
        .modal-dialog {
            align-content: center;
            padding: 50% 50% 50% 50%;
            padding: 0;
            max-height: 60%;
            max-width: 60%;
        }

        .modal-content {
            height: auto;
            min-height: 80%;
            -ms-border-radius: 0;
            border-radius: 0;
        }

        .imgCol {
            max-height: 150px;
            max-width: 150px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 15px;
        }

        .imgContainer {
            min-height: 150px;
            max-height: 150px;
            -moz-min-width: 150px;
            -ms-min-width: 150px;
            -o-min-width: 150px;
            -webkit-min-width: 150px;
            min-width: 150px;
            max-width: 150px;
            text-align: center;
        }

            .imgContainer img {
                height: 100%;
                width: auto;
                position: absolute;
                padding-right: 10px;
                padding-top: 10px;
                overflow: hidden;
            }

            .footer {
                background-color: #99999a;
                -ms-opacity: 0.9;
                opacity: 0.9;
            }

    </style>
</head>


<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Wedding Gallery", "WeddingGallery", "Home")</li>
                <li>@Html.ActionLink("Event Gallery", "EventGallery", "Home")</li>
                <li>@Html.ActionLink("Nature Gallery", "NatureGallery", "Home")</li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <div style="width: 144px; height: auto;">
                        <a href="https://www.facebook.com/Wbatton-Photography-619273441562855/">
                            <img src="~/Images/FB-FindUsonFacebook-online-144.png" class="img-responsive" alt="FindUsOnFacebook"/></a>
                        </div>
                </div>
                <div class="col-xs-4"></div>
            <div class="col-xs-4" style="text-align: right;">
                <p>&copy; @DateTime.Now.Year - Batton Photography</p>
            </div>
        </div>
        </div>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
