@{
    ViewBag.Title = "Event Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
    int nextPage = ViewBag.CurrentPage + 1;
}

<style>
    .galClick {
        margin-bottom: 1%;
        overflow: hidden;
        text-align: center;
        -moz-min-width: 150px;
        -ms-min-width: 150px;
        -o-min-width: 150px;
        -webkit-min-width: 150px;
        min-width: 150px;
    }

    .imgDiv {
        width: 150px;
        height: 150px;
        -moz-min-width: 150px;
        -ms-min-width: 150px;
        -o-min-width: 150px;
        -webkit-min-width: 150px;
        min-width: 150px;
        -ms-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    body {
        background-image: url('/Images/Event/OneSize/DSC_8236.jpg') !important; 
        -ms-background-size: cover;
        background-size: cover;
    }

    .modal-footer .img-responsive {
        margin: 0 auto;
    }
</style>

<input type="hidden" id="nextLink" value="@ViewBag.NextPageUrl" />
<input type="hidden" id="previousLink" value="@ViewBag.PreviousUrl" />

<div class="container" id="eventGallleryContainer">
    <br/>
    <div class="panel panel-default text-center" style="background-color: #383839; color: white;">

        <div class="panel-heading" style="background-color: #99999a">
            <h2 class="panel-title" style="font-family: Alex Brush; font-size: xx-large !important; color: white">Event Gallery</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                @{
                    foreach (var fullPath in ViewBag.Photos)
                    {
                        if (count%4 == 0)
                        {
                            @:</div>
                            @:<div class="row">
                        }

                        var fileName = Path.GetFileName(fullPath);
                        var id = Path.GetFileNameWithoutExtension(fullPath);
                        var target = "#" + @id;

                        <div class="col-xs-3 galClick" data-img="/Images/Event/OneSize/@fileName" data-name="@fileName">
                            <a href="#" data-img="/Images/Event/OneSize/@fileName" data-name="@fileName">
                                <div id="@fileName" style="background-image: url(/Images/Event/Thumbnails/@fileName);" class="imgDiv" oncontextmenu="return false;" data-img="/Images/Event/OneSize/@fileName" data-name="@fileName"></div>
                            </a>
                        </div>
                        count++;
                    }

}
            </div>

        </div>
        <div class="panel-footer" style="background-color: #99999a">
            <div class="row">

                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" id="previousButton" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @{
                            var pageCount = 0;

                            while (pageCount < ViewBag.PageCount)
                            {
                                <li><a href="@Url.Action("EventGallery", "Home", new {pageNumber = pageCount})" class="pageLink" id="@pageCount">@Html.Raw(pageCount + 1)</a></li>
                                pageCount++;
                            }
                        }
                        <li>
                            <a href="#" id="nextButton" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="galModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="word-wrap: break-word;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img class="img-responsive" src="#" id="eventImage" oncontextmenu="return false; " />
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/eventGallery");

}